application_name = "platform"
owner = "platform-team"
cost_center = "engineering"
vpc_cidr = "10.20.0.0/16"
azs = ["ap-south-1a","ap-south-1b"]
public_subnet_cidrs = ["10.20.0.0/24","10.20.1.0/24"]
private_app_subnet_cidrs = ["10.20.10.0/24","10.20.11.0/24"]
isolated_data_subnet_cidrs = ["10.20.20.0/24","10.20.21.0/24"]
enable_redis=true
enable_msk=false
enable_opensearch=false
enable_eks=false
enable_ecs=true
enable_gpu_nodes=false
enable_alb=false
container_image="REPLACE_WITH_ECR_REPOSITORY@sha256:REPLACE_WITH_64_HEX_DIGEST"
