node_modules/
dist/
.next/
coverage/
.env
.env.*
!.env.example
*.log
.DS_Store
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfplan
terraform.tfvars
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
*.pem
*.key
